# 1. Простые SQL запросы

SQL = Structured Query Language

[MySQL](https://www.mysqltutorial.org/mysql-having.aspx/): `FROM` => `WHERE` = `SELECT` = `GROUP BY` = `HAVING` = `ORDER BY` = `LIMIT`.   

[PostgreSQL](https://www.postgresqltutorial.com/postgresql-having/): `FROM` => `WHERE` = `GROUP BY` = `HAVING` = `SELECT` = `DISTINCT` = `ORDER BY` = `LIMIT`.

Структура:

```MySQL
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
HAVING condition
ORDER BY column_name(s);
LIMIT number of tuples;
```

На примере таблицы **Сотрудник** рассмотрим терминологию реляционных баз данных:

- **Relation** (*Отношение*) – это структура данных целиком, набор записей (в обычном понимании – **таблица**) , в  примере – это `Сотрудник`;
- **Tuple** (*Кортеж*) – это каждая строка, содержащая данные (более распространенный термин – **запись**), например, `<001, Борин С.А, 234-01-23, программист>`, все кортежи в отношении должны быть различны;
- **Мощность** – число кортежей в таблице (проще говоря, **число записей**), в данном случае 3, мощность отношения может быть любой (от 0 до бесконечности), порядок следования кортежей - неважен;
- **Attribute / Field**  (*Атрибут*) – это столбец в таблице (более распространенный термин – *поле*), в примере – `Табельный номер`, `Фамилия И.О.`, `Телефон`, `Должность`); 
- **Dimension** (*Размерность*) – это число атрибутов в таблице, в данном случае – 4; размерность отношения должна быть больше 0, порядок следования атрибутов существенен;
- **Domain** (*Домен атрибута*) – это допустимые значения (неповторяющиеся), которые можно занести в поле , например для атрибута `Должность` домен – `{инженер, программист}`.

# 1.1 Первые запросы

**products**

|id| name | count | price |
|--|----- |-------| ----- |
|0| TV | 5 | 10000 |
|1| Toaster | 0 | 700 |
|2| Vacuum | 2 | 4500 |

Получите всю информацию о товарах из таблицы **products**.

```MySQL
SELECT * FROM products
```

Получите название (**name**) и цену (**price**) всех товаров из таблицы **products**.

```MySQL
SELECT name, price FROM products
```

Выберите из таблицы **products** все записи, в которых цена (**price**) меньше 3000.

```MySQL
SELECT * FROM products
WHERE price < 3000
```

Выберите из таблицы products имена (**name**) и цены (**price**) всех товаров, стоимостью от 10 000 и выше.

```MySQL
SELECT * FROM products
WHERE price >= 10000
```

Получите из таблицы **products** имена (**name**) товаров, которые закончились.

```MySQL
SELECT * FROM products
WHERE count = 0
```

Выберите из таблицы products название (**name**) и цены (**price**) товаров, стоимостью до 4000 включительно.

```MySQL
SELECT name, price FROM products
WHERE price <= 4000
```

# 1.2 Составные условия

**orders**

| id | user_id | products_count | sum | status |
|----|-----|-----|----|---------------|
|0| 18 | 2 | 13000 | new |
|1| 11 | 1 | 200 | cancelled |
|2| 147 | 5 | 6800 | in_progress |
|3| 2355 | 0 | 999 | delivery |

Выберите из таблицы **orders** все заказы кроме отмененных. У отмененных заказов **status** равен "**cancelled**".

```MySQL
SELECT * FROM orders
WHERE status != 'cancelled'
```

Выберите из таблицы orders все заказы содержащие более 3 товаров (**products_count**).
Вывести нужно только номер (**id**) и сумму (**sum**) заказа.

```MySQL
SELECT id, sum FROM orders
WHERE products_count > 3
```

Выберите из таблицы **orders** все отмененные заказы. У отмененных заказов status равен "**cancelled**".

```MySQL
SELECT * FROM orders
WHERE status = 'cancelled'
```

Выберите из таблицы **orders** все отмененные (**cancelled**) и возвращенные (**returned**) товары.
Используйте **IN**.

```MySQL
SELECT * FROM orders
WHERE status IN ('cancelled', 'returned')
```

Выберите из таблицы **orders** все заказы, у которых сумма (**sum**) больше 3000 или количество товаров (**products_count**) от 3 и больше.

```MySQL
SELECT * FROM orders
WHERE sum > 3000 OR products_count >= 3
```

Выберите из таблицы **orders** все заказы, у которых сумма (**sum**) от 3000 и выше, а количество товаров (**products_count**) меньше 3.

```MySQL
SELECT * FROM orders
WHERE sum >= 3000 AND products_count < 3
```

Выберите из таблицы **orders** все отмененные заказы стоимостью от 3000 до 10000 рублей включительно.
Используйте **BETWEEN**.

```MySQL
SELECT * FROM orders
WHERE status = 'cancelled' AND sum BETWEEN 3000 AND 10000
```

Выберите из таблицы **orders** все отмененные заказы исключая заказы стоимостью от 3000 до 10000 рублей включительно.

```MySQL
SELECT * FROM orders
WHERE status = 'cancelled' AND sum NOT BETWEEN 3000 AND 10000
```

# 1.4 Сортировка результатов

Выберите из таблицы **products** все товары в порядке возрастания цены (**price**).

```MySQL
SELECT * FROM products
ORDER BY price ASC
```

Выберите из таблицы **products** все товары в порядке убывания цены.
Выведите только имена (**name**) и цены (**price**).

```MySQL
SELECT name, price FROM products
ORDER BY price DESC
```

Выберите из таблицы **products** все товары стоимостью 5000 и выше в порядке убывания цены (**price**).

```MySQL
SELECT * FROM products 
WHERE price >= 5000
ORDER BY price DESC
```

Выберите из таблицы products все товары стоимостью до 3000 рублей отсортированные в алфавитном порядке. Вывести нужно только имя (**name**), количество (**count**) и цену (**price**).

```MySQL
SELECT name, count, price FROM products 
WHERE price < 3000
ORDER BY name ASC
```

Выберите из таблицы **users** фамилии (**last_name**) и имена (**first_name**) всех пользователей.
Данные должны быть отсортированы сначала по фамилии, а затем по имени.

```MySQL
SELECT last_name, first_name FROM users 
ORDER BY last_name, first_name ASC
```

Выберите из таблицы **users** всех пользователей с зарплатой от 40 000 рублей и выше. Данные нужно сначала отсортировать по убыванию зарплаты (**salary**), а затем в алфавитном порядке по имени (**first_name**).

```MySQL
SELECT * FROM users
WHERE salary >= 40000
ORDER BY salary DESC, first_name ASC
```

Выберите сотрудников из таблицы **users** с зарплатой (**salary**) меньше 30 000 рублей и отсортируйте данные по дате рождения (**birthday**). Сотрудников с нулевой зарплатой выбирать не нужно.

```MySQL
SELECT * FROM users
WHERE salary < 30000 AND salary != 0
ORDER BY birthday ASC
```

# 1.4 Сортировка результатов

Выберите из таблицы **orders** 5 самых дорогих заказов за всё время.
Данные нужно отсортировать в порядке убывания цены.
Отмененные заказы не учитывайте.

```MySQL
SELECT * FROM orders
WHERE status != 'cancelled'
ORDER BY price DESC
LIMIT 5
```

```MySQL
SELECT * FROM orders
WHERE status NOT IN ('cancelled')
ORDER BY price DESC
LIMIT 5
```

Выберите из таблицы **products** название и цены трех самых дешевых товаров, которые есть на складе.

```MySQL
SELECT name, price FROM products
WHERE count > 0
ORDER BY price ASC
LIMIT 3
```

Выберите из таблицы **orders** три последних заказа (по дате **date**) стоимостью от 3000 рублей и выше.
Данные отсортируйте по дате в обратном порядке.

```MySQL
SELECT * FROM orders
WHERE sum >= 3000
ORDER BY date DESC
LIMIT 3;
```

Сайт выводит товары по 5 штук. Выберите из таблицы **products** товары, которые пользователи увидят на 3 странице каталога при сортировке в порядке возрастания цены (**price**).

```MySQL
SELECT * FROM products
ORDER BY price ASC
LIMIT 10, 5;
```

В таблице **products** 17 записей. Сайт выводит название (**name**) и цену (**price**) товаров в алфавитном порядке, по 6 записей на страницу. Напишите SQL запрос для получения списка товаров для формирования последней страницы каталога.
Товары, которых нет на складе, выводить не надо (таких товаров 3).

```MySQL
SELECT name, price FROM products
WHERE count > 0
ORDER BY name ASC
LIMIT 12, 2;
```