# 4. Индексы

# 4.1 Первичный ключ (PRIMARY KEY)

Создайте таблицу **users** с со следующими полями:

1. id — идентификатор, целое положительное, первичный ключ без автоинкремента, NULL запрещен.
2. first_name — имя пользователя, строка до 50 символов.
3. last_name — фамилия пользователя, строка до 50 символов.
4. birthday — дата рождения. Пользователь может не указать день рождения и тогда в поле нужно хранить NULL.

Добавьте 3 записи так, чтобы получалась таблица ниже:

```MySQL
CREATE TABLE users (
     id INT UNSIGNED NOT NULL PRIMARY KEY,
     first_name VARCHAR (50),
     last_name VARCHAR (50),
     birthday DATE NULL DEFAULT NULL
     );
     
     INSERT INTO users (id, first_name, last_name, birthday)
     VALUES
     (1, 'Дмитрий', 'Иванов', DEFAULT),
     (2, 'Анатолий', 'Белый', DEFAULT),
     (3, 'Денис', 'Давыдов', '1995-09-08');
 ;
```

Создайте таблицу **orders** с автоинкрементальным первичным ключом id, полем state для хранения статуса заказа и полем amount для хранения суммы заказа. Статус заказа умещается в строку длиной 8 символов, а сумма заказа является денежным типом до 1 млн. с двумя знаками после десятичной точки.

Добавьте 3 записи так, чтобы получалась таблица ниже:

```MySQL
CREATE TABLE orders (
    id INT UNSIGNED PRIMARY KEY AUTO_INCREMENT,
    state VARCHAR(8),
    amount DECIMAL(8,2)
    );
    
    INSERT INTO orders (state, amount)
    VALUES
    ('new', 1000.50),
    ('new', 3400.10),
    ('delivery', 7300.00);
```

Создайте таблицу **passports** со следующими полями:

1. series — символьного типа длиной до 4 символов. NULL запрещен.
2. number — символьного типа длиной до 6 символов. NULL запрещен.
3. user_id — беззнаковый INT. NULL запрещен.
4. date_issue — дата типа DATE

Создайте первичный ключ по двум полям: series и number.
Попробуйте самостоятельно найти в интернете информацию о том, как создать первичный ключ по двум полям в MySQL.

Добавьте 4 записи так, чтобы получалась таблица ниже:

```MySQL
CREATE TABLE passports (
    series VARCHAR (4) NOT NULL,
    number VARCHAR (6) NOT NULL,
    user_id INT UNSIGNED NOT NULL,
    date_issue DATE,
    PRIMARY KEY (series, number)
    );
    
    INSERT INTO passports (series, number, user_id, date_issue)
    VALUES (3206, 147345, 15, '2006-08-12'),
    (3216, 147345, 234, '2016-09-23'),
    (2405, 147345, 1, '2015-01-07'),
    (5411, 147345, 15, '2008-03-03');
```

Создайте таблицу **files** для хранения данных о цифровых фильмах. В таблице должны быть следующие поля:

1. id - идентификатор.
2. film_id — ссылка на фильм, беззнаковое целое, NULL запрещен. Ссылки на другие поля должны быть того же типа, что и сами поля. То есть film_id должно быть того же типа, что и id (в другой таблице).
3. size — размер файла в байтах. В магазине могут быть фильмы более 100 Гб. надо запретить добавлять в таблицу файлы отрицательного размера.
4. filename — название файла, символьное поле длиной 100 символов.

Добавьте 3 записи так, чтобы получалась таблица ниже:

```MySQL
CREATE TABLE files (
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    film_id INT UNSIGNED NOT NULL,
    size BIGINT UNSIGNED,
    filename VARCHAR (100)
    );
    
    INSERT INTO files (film_id, size, filename)
    VALUES
    (356, 28668906700, 'silicon_valley_s02_1080p.zip'),
    (4514, 2684354560, 'dunkirk.mp4'),
    (87145, 734003200, 'milk.mp4');
```

Выберите из таблицы **products** все товары от 5000 рублей и дороже в порядке убывания значений первичного ключа.

```MySQL
SELECT * FROM products
WHERE price >= 5000
ORDER BY id DESC;
```

Выберите из таблицы **products** первичные ключи и названия всех товаров с четным первичным ключом.
Данные отсортируйте в порядке возрастания цены.

Четность или нечетность числа, можно определить по остатку от деления на два.
Если число делится на два без остатка, то оно четное иначе нет.
Чтобы получить остаток от деления можно воспользоваться оператором %.
Например, если вычислять остаток от деления на два для поля id то получаем следующие значения:

1 % 2 = 1 (остаток 1, нечетное)
2 % 2 = 0 (остаток 0, четное)
3 % 2 = 1 (остаток 1, нечетное)


```MySQL
SELECT id, name  FROM products
WHERE id % 2 = 0
ORDER BY price ASC;
```

Измените имя пользователя с первичным ключом 7 с «Иван» на «Дмитрий».

```MySQL
UPDATE users
SET first_name = 'Дмитрий' WHERE id = 7;
```

Удалите из таблицы orders заказы с номерами 3, 4 и 7.

```MySQL
DELETE FROM orders
WHERE id IN(3,4,7);
```

# 4.2 Уникальный индекс (UNIQUE INDEX)

Создайте таблицу **clients** со следующими полями:

1. id — автоинкрементальный первичный ключ.
2. first_name — имя, строка до 50 символов. NULL запрещен.
3. last_name — фамилия, строка до 50 символов. NULL запрещен.
4. email — электронный адрес, строка до 100 символов. NULL запрещен, все значения уникальные.
5. passport — серия и номер паспорта, строка до 10 символов. NULL запрещен, все значения уникальные.

Все уникальные ключи должны иметь те же имена, что и поля, для которых они создаются.

```MySQL
CREATE TABLE clients (
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    first_name VARCHAR (50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR (100) NOT NULL,
    passport VARCHAR (10) NOT NULL,
    UNIQUE KEY passport (passport),
    UNIQUE KEY email (email)
    );
```

```MySQL
CREATE TABLE clients (
    id INT UNSIGNED PRIMARY KEY AUTO_INCREMENT NOT NULL,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    passport VARCHAR(10) NOT NULL UNIQUE
    );
```

Создайте таблицу **passports** для хранения паспортов пользователей.

1. id — автоинкрементальный первичный ключ.
2. user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
3. series — серия паспорта, строка до 4 символов, NULL запрещен.
4. number — номер паспорта, строка до 6 символов, NULL запрещен.
5. state — статус паспорта. Поле выбора одного из 2 вариантов: active (активный), expired (истекший). NULL запрещен, по умолчанию active.

Создайте уникальный ключ passport по двум полям: series и number.


```MySQL
CREATE TABLE passports (
    id INT UNSIGNED PRIMARY KEY AUTO_INCREMENT NOT NULL,
    user_id INT UNSIGNED NOT NULL,
    series VARCHAR (4) NOT NULL,
    number VARCHAR (6) NOT NULL,
    state ENUM ('active', 'expired') NOT NULL DEFAULT 'active',
    UNIQUE KEY passport (series, number)
    );
```

Создайте таблицу **posts** для хранения постов пользователей на сайте:

1. id — автоинкрементальный первичный ключ.
2. user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
3. name — название поста, строка до 100 символов, NULL запрещен.
4. pub_date — дата и время публикации. По умолчанию NULL (означает, что пост еще не опубликован).
5. slug — идентификатор поста для генерации URL, строка до 50 символов, NULL запрещен.

В рамках всего сайта slug могут повторяться, но для каждого конкретного пользователя значения slug уникальны. Создайте подходящий под это условие ключ с именем uslug.


```MySQL
CREATE TABLE posts (
    id INT UNSIGNED PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    name VARCHAR (100) NOT NULL,
    pub_date DATETIME DEFAULT NULL,
    slug VARCHAR (50) NOT NULL,
    UNIQUE KEY uslug (user_id, slug)
    );
```

Создайте таблицу **products** для хранения данных о товарах в магазине:

1. id — автоинкрементальный первичный ключ.
2. category_id — идентификатор категории, беззнаковый INT, по умолчанию NULL.
3. name — название товара, строка до 100 символов, NULL запрещен.
4. slug — идентификатор товара для генерации URL, строка до 50 символов, NULL запрещен.
5. ean13 — штрих-код из 13 символов. Только уникальные значения. NULL запрещен.

В рамках всего сайта slug могут повторяться, но для каждой конкретной категории значения slug уникальны. Создайте подходящий под это условие ключ с именем category_slug.


```MySQL
CREATE TABLE products (
    id INT UNSIGNED PRIMARY KEY AUTO_INCREMENT,
    category_id INT UNSIGNED DEFAULT  NULL,
    name VARCHAR (100) NOT NULL,
    slug VARCHAR (50) NOT NULL,
    ean13 VARCHAR (13) NOT NULL,
    UNIQUE KEY ean13 (ean13),
    UNIQUE KEY category_slug (category_id, slug)
    );
    
```

# 4.3 Обычные индексы (INDEX)

Создайте таблицу **orders** со следующими полями:

1. id — автоинкрементальный первичный ключ.
2. user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
3. state — статус заказа, строка до 8 символов. По умолчанию new. NULL запрещен.
4. amount — целое положительное для хранения чисел не более 1 млн. NULL запрещен. По умолчанию 0.

Создайте два обычных индекса для полей user_id и state. Имена индексов должны совпадать с именами столбцов.


```MySQL
CREATE TABLE orders (
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    state VARCHAR (8) NOT NULL DEFAULT 'new',
    amount MEDIUMINT UNSIGNED NOT NULL DEFAULT 0,
    INDEX user_id (user_id),
    INDEX state (state)
    );
    
```

Создайте таблицу **products** для хранения товаров в интернет магазине:

1. id — первичный ключ.
2. category_id — категория, целое положительное. Может принимать NULL. По умолчанию NULL.
3. name — название, строка до 100 символов. NULL запрещен.
4. count — количество, целое положительное до 255. NULL запрещен, по умолчанию 0.
5. price — цена типа DECIMAL с 10 знаками, 2 из которых выделены для копеек. NULL запрещен, по умолчанию 0.00.

Добавьте в таблицу два простых индекса так, чтобы ускорить поиск по категории и по цене. Названия индексов должны быть такими же, как и названия полей, по которым эти индексы строятся.


```MySQL
CREATE TABLE products (
    id INT UNSIGNED PRIMARY KEY AUTO_INCREMENT NOT NULL,
    category_id INT UNSIGNED NULL DEFAULT NULL,
    name VARCHAR (100) NOT NULL,
    count TINYINT UNSIGNED NOT NULL DEFAULT 0,
    price DECIMAL (10, 2) NOT NULL DEFAULT 0.00,
    INDEX category_id (category_id),
    INDEX price (price)
    );
    
```

Создайте таблицу **passports** для хранения паспортов пользователей.

1. id — автоинкрементальный первичный ключ.
2. user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
3. series — серия паспорта, строка до 4 символов, NULL запрещен.
4. number — номер паспорта, строка до 6 символов, NULL запрещен.
5. state — статус паспорта. Поле выбора одного из 2 вариантов: active (активный), expired (истекший). NULL запрещен, по умолчанию active.

Создайте уникальный ключ passport по двум полям: series и number.

Добавьте два простых индекса, чтобы ускорить поиск данных по серии и номеру паспорта.
Названия индексов сделайте такими же, как и поля, для которых эти индексы создаются.


```MySQL
CREATE TABLE passports (
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    series VARCHAR(4) NOT NULL,
    number VARCHAR(6) NOT NULL,
    state ENUM ('active', 'expired') NOT NULL DEFAULT 'active',
    UNIQUE KEY passport (series, number),
    INDEX series (series),
    INDEX number (number)
    );
    
```

Создайте таблицу **orders** для хранения списка заказов со следующими полями:

1. id — автоинкрементальный первичный ключ.
2. user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
3. city_id — идентификатор города, беззнаковый INT, NULL запрещен.
4. state — статус заказа. Выбор из new, cancelled, delivered, completed. Можно выбрать только один вариант. NULL запрещен. По умолчанию new.
5. amount — целое положительное для хранения чисел не более 1 млн. NULL запрещен. По умолчанию 0.

Самый популярный запрос к этой таблице:

```MySQL
SELECT * FROM orders WHERE city_id = 5 AND state = "new";
```

Добавьте составной индекс с именем main_search, чтобы данный запрос выполнялся максимально быстро.
Также добавьте простой индекс по полю user_id.

**Решение:**

```MySQL
CREATE TABLE orders (
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    city_id INT UNSIGNED NOT NULL,
    state ENUM('new', 'cancelled', 'delivered','completed') NOT NULL
    DEFAULT 'new',
    amount MEDIUMINT UNSIGNED NOT NULL DEFAULT 0,
    INDEX user_id(user_id),
    INDEX main_search (city_id, state)
    );
    
```

# 4.4 Добавление и удаление индексов              (CREATE INDEX, DROP INDEX)

Программисты проанализировали производительность запросов к таблице **products** и нашли медленный запрос:

```MySQL
SELECT id, category_id, name FROM products WHERE category_id = NN;
```

где NN – это номер категории. Добавьте к таблице нужные индексы, чтобы запрос выполнялся быстрее.

Индекс нужно назвать так же как поле.

**Решение:**

```MySQL
CREATE INDEX category_id ON products(category_id);
```

В базе данных есть таблица **calendar**, в которой хранится информация о событиях в городах. Самые популярные запросы к этой таблице затрагивают одновременно два поля: city_id и date. Добавьте индекс с именем base_query для ускорения популярных запросов.

Текущая таблица создана с помощью SQL запроса:

```MySQL
CREATE TABLE calendar (
 id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
 city_id INT UNSIGNED NOT NULL,
 name VARCHAR(100) NOT NULL,
 description TEXT NOT NULL,
 date DATETIME NOT NULL
 );
```



**Решение:**

```MySQL
CREATE INDEX base_query ON calendar(city_id, date);
```

Разработчик создал таблицу **passports** для хранения паспортов с помощью следующего запроса:

```MySQL
CREATE TABLE passports (
 id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
 user_id INT UNSIGNED NOT NULL,
 series VARCHAR(4) NOT NULL,
 number VARCHAR(6) NOT NULL,
 state ENUM('active','expired') NOT NULL DEFAULT 'active',
 UNIQUE KEY series (series),
 UNIQUE KEY number (number)
 );
```
В процессе эксплуатации базы данных выяснилось, что в таблицу нельзя добавить две записи с одинаковой серией или с одинаковым номером паспорта. Хотя планировали, чтобы уникальность была только для совместных данных в series и number.

Удалите неправильные индексы и создайте индекс с именем series_number, который удовлетворяет условию выше.


**Решение:**

```MySQL
DROP INDEX series ON passports;
DROP INDEX number ON passports;

CREATE UNIQUE INDEX series_number ON passports (series, number);
```

Удалите из таблицы **products** индексы, которые по вашему мнению установлены неправильно. Таблица создана с помощью следующего SQL запроса:

```MySQL
CREATE TABLE products (
 id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
 category_id INT UNSIGNED NULL DEFAULT NULL, 
 name VARCHAR(100) NOT NULL,
 count TINYINT UNSIGNED NOT NULL DEFAULT 0, 
 price DECIMAL(10,2) NOT NULL DEFAULT 0.00,
 UNIQUE INDEX category_id (category_id),
 INDEX count (count),
 INDEX main_search (category_id, price)
 );
```

**Решение:**

```MySQL
DROP INDEX category_id ON products;
```