# 8. Группировка данных

# 8.1 COUNT, MIN, MAX, AVG

Получите из таблицы users количество женщин возрастом до 30 лет.
Данные выведите в колонке women.

**Решение:**

```MySQL
SELECT COUNT(id) AS women
FROM users
WHERE sex = 'w' AND age < 30;
```

Посчитайте сумму выполненных заказов за январь 2015 года.
Заказ считается выполненным, если у него стоит статус «success».
Результат выведите в колонке с именем income.

**Решение:**

```MySQL
SELECT SUM(amount) AS income
FROM orders
WHERE status = 'success' AND date LIKE '2015-01%';
```

```MySQL
SELECT SUM(amount) as income FROM orders
WHERE 
    status = 'success' AND 
    YEAR(date) = 2015 AND 
    MONTH(date) = 1;
```

Получите стоимость самого дорогого отмененного заказа.
Заказ считается отмененным, если у него стоит статус «cancelled».
Результат выведите в колонке с именем max_losses.

**Решение:**

```MySQL
SELECT MAX(amount) AS max_losses
FROM orders
WHERE status = 'cancelled';
```

Получите средний чек магазина за 2015 год.
Средний чек — это средняя стоимость выполненных (success) заказов.
Результат округлите до 2 знаков после точки и выведите в колонке с именем avg_check.

**Решение:**

```MySQL
SELECT ROUND(AVG(amount), 2) AS avg_check
FROM orders
WHERE status = 'success' AND YEAR(date) = 2015;
```

Получите из таблицы clients средний возраст и количество всех мужчин.
Возраст округлите до ближайшего нижнего значения и выведите в колонке age, а количество в count.

**Решение:**

```MySQL
SELECT FLOOR(AVG(age)) AS age, COUNT(id) AS count
FROM clients
WHERE sex = 'm';
```

Получите дату первого (минимальную дату) отмененного заказа.
Значение выведите в формате ДД.ММ.ГГГГ в колонке date.

**Решение:**

```MySQL
SELECT DATE_FORMAT(MIN(date), '%d.%m.%Y') AS date
FROM orders
WHERE status = 'cancelled';
```

В таблице users есть поле activity_date, которое хранит дату и время последней активности пользователя на сайте. Посчитайте сколько пользователей находилось на сайте 8 апреля 2018 года в 12:36:17.
Данные выведите в колонке с именем users.

Считайте, что пользователь находился на сайте, если он совершал какие-то действия в последние 5 минут до контрольного времени.

**Решение:**

```MySQL
SELECT COUNT(*) as users FROM users
WHERE activity_date >= ('2018-04-08 12:36:17' - INTERVAL 5 MINUTE);
```

В таблице transactions хранится информация по движению денег по счету компании.

Поле amount отвечает за сумму, а поле direction за направление платежа: in — входящий платеж, out — исходящий.

Входящие платежи облагаются налогом в 6%, за исключением тех, у которых стоит пометка no_tax = TRUE.
Посчитайте какой налог должна заплатить организация за 1 квартал 2017 года.
Результат округлите вверх до ближайшего целого и выведите в колонке tax.

**Решение:**

```MySQL
SELECT ROUND(SUM(amount * 0.06)) AS tax
FROM transactions
WHERE direction = 'in' and no_tax != TRUE and month(date) < 4;
```

# 8.2 GROUP BY

Сгруппируйте данные в таблице users по полу и получите количество мужчин и женщин.

В первой колонке выведите пол, а во второй количество. Имя второй колонки — members.

**Решение:**

```MySQL
SELECT sex, COUNT(sex) AS members
FROM users
GROUP BY sex;
```

Сгруппируйте данные в таблице users по возрасту и получите количество сотрудников каждого возраста.

В первом столбце выборки выведете возраст, а во втором количество. Имя второго столбца — clients.

Данные отсортируйте по возрасту в порядке убывания.

**Решение:**

```MySQL
SELECT age, COUNT(age) AS clients
FROM users
GROUP BY age
ORDER BY age DESC;
```

Сгруппируйте данные в таблице users по возрасту и получите количество сотрудников каждого возраста.

В первом столбце выборки выведете возраст, а во втором количество. Имя второго столбца — clients.

Данные отсортируйте по возрасту в порядке убывания.

**Решение:**

```MySQL
SELECT age, COUNT(age) AS clients
FROM users
GROUP BY age
ORDER BY age DESC;
```

В таблице products хранятся товары в разных категориях. За категории отвечает столбец category_id, который хранит номер категории в другой таблице. Сгруппируйте данные по категориям и получите среднюю стоимость товаров в каждой из них. В первой колонке итоговой таблицы выведите категорию, а в во втором среднюю цену округленную до двух знаков после точки. Имя второго столбца — avg_price.

Учитывайте только товары, которые есть в наличии. Отсортируйте результаты по цене.

**Решение:**

```MySQL
SELECT category_id, AVG(price) AS avg_price
FROM products
WHERE count > 0
GROUP BY category_id
ORDER BY avg_price;
```

Сгруппируйте данные в таблице orders по году и получите сумму заказов за каждый год. Данные должны быть отсортированы в хронологическом порядке по году. В первом столбце итоговой таблицы выведете год, а во втором сумму. Имя первого столбца — year, а второго — income. Учитывайте только выполненные заказы.

**Решение:**

```MySQL
SELECT YEAR(date) AS year, SUM(amount) AS income
FROM orders
WHERE status = 'success'
GROUP BY year
ORDER BY year;
```

Сгруппируйте данные в таблице orders по году и месяцу, а затем получите сумму и количество заказов в каждом месяце. Данные должны быть отсортированы в хронологическом порядке по году и месяцу.

В первом столбце итоговой таблицы выведете год, во втором — номер месяца, в третьем — сумму, а в четвертом — количество заказов. Имена столбцов (по порядку): year, month, income, orders. Учитывайте только завершенные заказы.

**Решение:**

```MySQL
SELECT YEAR(date) AS year, MONTH(date) AS month, SUM(amount) AS income, COUNT(*) AS orders
FROM orders
WHERE status = 'success'
GROUP BY year, month
ORDER BY year, month;
```

# 8.3 HAVING

В таблице products содержатся данные о товарах с привязками к категориям (category_id).

Получите id категорий и количество товаров на складе для каждой из категорий.
Выведите только категории в которых есть товары.
Данные отсортируйте по количеству товаров.

В итоговой таблице должно быть два столбца: category_id и products.

**Решение:**

```MySQL
SELECT category_id, SUM(count) AS products
FROM products
WHERE count > 0
GROUP BY category_id
ORDER BY products;
```

В таблице deals содержится список сделок. Чтобы компания нормально функционировала она должна совершать сделок на 300 000 рублей в месяц. Но не во все месяцы это получается.

Получите список месяцев, в которых не удалось преодолеть порог в 300 тыс. Итоговая таблица должна состоять из трех столбцов: year — год, month — номер месяца, amount — сумма сделок.

**Решение:**

```MySQL
SELECT YEAR(date) AS year, MONTH(date) AS month, SUM(amount) AS amount
FROM deals
GROUP BY year, month
HAVING amount < 300000;
```

В таблице bus_logs хранятся данные о прибытии автобусов на остановки.
В поле diff содержится разница в секундах относительно контрольного времени прибытия.

Положительные значения говорят о том, что автобус прибыл рано, отрицательные, о том, что он опоздал, 0 – приехал вовремя.
Получите список водителей, которые в среднем опаздывают или опережают график на 30 секунд и более.

Итоговая таблица должна состоять из двух колонок: driver_id с номером водителя и avg_diff со средним отклонением. Среднее отклонение следует округлить до целого числа.

PS. В данном задании следует использовать среднее абсолютное отклонение.

**Решение:**

```MySQL
SELECT driver_id, ROUND(AVG(ABS(diff))) as avg_diff
FROM bus_logs
GROUP BY driver_id
HAVING avg_diff >= 30;
```

В таблице deals содержится список сделок. Получите из таблицы следующие данные:

1. user_id — идентификатор пользователя;
2. deals — количество сделок сотрудника
3. sum_amount — сумма платежей по сделкам;
4. max_amount — максимальный платеж.

Учитывайте только закрытые сделки. Информацию выводите только для тех сотрудников, которые закрыли 3 и более сделок

**Решение:**

```MySQL
SELECT user_id, COUNT(*) AS deals,
       SUM(amount) AS sum_amount,
       MAX(amount) AS max_amount
FROM deals
WHERE status = 'closed'
GROUP BY user_id
HAVING deals >= 3;
```